<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Tech space chatter</h1>
    <p class="lead">
      Select which room you would like to join below!
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <ul class="list-group col">
      <li class="list-group-item"><a href="/javascript">Javascript</a></li>
      <li class="list-group-item"><a href="/swift">Swift</a></li>
      <li class="list-group-item"><a href="/css">CSS</a></li>
    </ul>
  </div>
</div>